body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10PX 0;
    text-align: center;
}

nav {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 15px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}